<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">

    <a class="navbar-brand" href="/">
      <fa-icon [icon]="faHome"></fa-icon> <!-- Home icon -->
      Home
    </a>
    <!-- Navbar Toggler for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links and Search Bar -->
    <div class="collapse navbar-collapse" id="navbarNav">
     

      <!-- Navigation Links -->
      <ul class="navbar-nav ms-auto">
        

        <!-- Login/Register -->
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">
            <i class="fas fa-user-plus"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>