<div class="admin-layout">
    <!-- Header -->
  
<app-dashboardheader></app-dashboardheader>
  
    <div class="container-fluid h-100">
      <div class="row h-100">
        <!-- Sidebar -->
        <div class="col-md-3 col-12 collapse d-md-block h-100 p-0" id="sidebarCollapse">
          <app-sidebar></app-sidebar> <!-- Sidebar component -->
        </div>
  
        <!-- Main Content -->
        <div class="col-md-9 col-12 main-content">
          <router-outlet></router-outlet> <!-- Dynamic content -->
        </div>
      </div>
    </div>
  
    <!-- Overlay for Small Screens -->
    <div class="sidebar-overlay" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"></div>
  </div>